{% extends '::layout.html.twig' %}

{% block contenido %}
    <h1>Grupo de Investigación</h1>
    
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <a href="{{ path('grupo_new') }}" class="btn btn-primary">Nuevo Grupo</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fechainicio</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td><a href="{{ path('grupo_show', { 'id': grupo.id }) }}">{{ grupo.id }}</a></td>
                    <td>{{ grupo.nombre }}</td>
                    <td>{% if grupo.fechaInicio %}{{ grupo.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if grupo.estado %}Activo{% else %}Desactivado{% endif %}</td>
                    <td>
                        <a href="{{ path('grupo_show', { 'id': grupo.id }) }}" class="btn btn-info">Detalles</a>
                        <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}" class="btn btn-success">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
