{% set layout = '::layout_docente.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}
    {% set layout = '::layout.html.twig' %}
{% endif %}
{% extends layout %}
{% block contenido %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>Grupo</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ grupo.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ grupo.nombre }}</td>
                </tr>
                <tr>
                    <th>Fecha de inicio</th>
                    <td>{% if grupo.fechaInicio %}{{ grupo.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{% if grupo.estado %}Activo{% else %}Desactivado{% endif %}</td>
                </tr>
                <tr>
                    <th>Lider</th>
                    <td>{{ grupo.lider.nombre }} {{ grupo.lider.apellido }}</td>
                </tr>
                <tr>
                    <th>Lineas de Investigacion</th>
                    <td>
                        <ul>
                           {% for linea in grupo.lineasInvestigacion %}
                                <li>{{ linea.nombre }}</li>
                           {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
       {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
            <a href="{{ path('grupo_index') }}" class="btn btn-info">Listado</a>
            <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}" class="btn btn-success">Editar</a>
            <input type="submit" value="Eliminar" class="btn btn-danger">
        {{ form_end(delete_form) }}
        {% else %}
            <a href="{{ path('udec_docente_gruposLider') }}" class="btn btn-info">volver</a>
        {% endif %}
        
    </div>
{% endblock %}
