{% extends '::layout_docente.html.twig' %}

{% block contenido %}
    <h1>Grupos de Investigación</h1>
    
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha de Creacion</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td><a href="{{ path('udec_docente_grupo', { 'id': grupo.id }) }}">{{ grupo.id }}</a></td>
                    <td>{{ grupo.nombre }}</td>
                    <td>{% if grupo.fechaInicio %}{{ grupo.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if grupo.estado %}Activo{% else %}Desactivado{% endif %}</td>
                    <td>
                        <a href="{{ path('udec_docente_grupo', { 'id': grupo.id }) }}" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
