{% extends '::layout.html.twig' %}

{% block contenido %}
    <h1>Aportes al Proyecto {{ proyecto.nombre }}</h1>

    <div class="col-md-2 col-lg-4">
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary" value="Agregar">
            <a href="{{ path('proyecto_editar_aportes', { 'id': proyecto.id }) }}" class="btn btn-danger">Volver</a>
        {{ form_end(edit_form) }}        
        
           
        </form>
    </div>
{% endblock %}
