{% extends '::layout.html.twig' %}

{% block contenido %}
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
    	<h1>Editar Docente</h1>

	    {{ form_start(edit_form) }}
	        {{ form_widget(edit_form) }}
	        <input type="submit" value="Actualizar" class="btn btn-success" />
	        
	    {{ form_end(edit_form) }}

	    {{ form_start(delete_form) }}
	        <input type="submit" value="Eliminar" class="btn btn-danger">
	        <a href="{{ path('user_index') }}" class="btn btn-info">Vover</a>
	    {{ form_end(delete_form) }}
    </div>
    
{% endblock %}
